// fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

// global

::selection {
  @apply bg-emerald-200 text-black;
}

a {
  @apply transition-colors text-teal-600 hover:text-teal-700;
}

body {
  @apply font-body cursor-default bg-emerald-50 text-black;
}

button {
  @apply p-4 transition-colors bg-emerald-700 hover:bg-emerald-600 text-white font-semibold focus:outline-none;
}

input {
  @apply appearance-none bg-white w-full p-4 focus:outline-none;
}

// layout

#__next {
  @apply min-h-screen p-8 flex flex-col;

  & > main {
    @apply flex-1 my-16;
  }
}

// components
